server:
  port: 8888

spring:
  application:
    name: nebulamall-gateway
  main:
    web-application-type: reactive
  cloud:
    gateway:
      routes:
        # Admin Service (captcha, login, and admin APIs) - Renren-Fast
        - id: admin_route
          uri: http://localhost:8080
          predicates:
            - Path=/api/**
          filters:
            - RewritePath=/api/(?<segment>.*), /renren-fast/$\{segment}
  loadbalancer:
    nacos:
      enabled: false

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
